name: Release
on:
  workflow_call:
    secrets: 
      my_token:

env:
  DOCKER_BUILDKIT: 1

jobs:
  matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    steps:
    - name: Setup
      run: echo ./utils/setup.sh
    - name: Generate matrix
      id: generate
      run: echo ${{ inputs.project_name }}.yml
    - run: env
    - run: set
    - run: echo $GITHUB_ENV
    - run: echo $GITHUB_ENV
    - run: echo "${{ secrets.MY_SEC }}"
    - run: echo "${{ secrets.my_token }}"

  jobs:
    name: ${{ matrix.project }} Project
    needs: matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      #concurrency: 2
      matrix:
        project:
          - icap
          - sanbox
    steps:
      - run: hostname || true
      - run: echo "secret ${{ secrets.my_token }}
      - run: echo "secret ${{ secrets.MY_SEC }}
